<div class="portfolioPage">
    <h1>Portfolio</h1>
    <div class="portfoliobox">
        <figure class="imgbox">
            <img src="./img/book.png" alt="placeholder image">
            <figcaption>Project 1</figcaption>
        </figure>
        <figure class="imgbox">
            <img src="./img/spark.png" alt="placeholder image">
            <figcaption>Project 2</figcaption>
        </figure>
        <figure class="imgbox">
            <img src="./img/forest.png" alt="placeholder image">
            <figcaption>Project 3</figcaption>
        </figure>
        <figure class="imgbox">
            <img src="./img/community.png" alt="placeholder image">
            <figcaption>Project 4</figcaption>
        </figure>
        <figure class="imgbox">
            <img src="./img/solar-1.png" alt="placeholder image">
            <figcaption>Project 5</figcaption>
        </figure>
        <figure class="imgbox">
            <img src="./img/desk.png" alt="placeholder image">
            <figcaption>Project 6</figcaption>
        </figure>
    </div>
</div>
